* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Fondo */
    color: #333; /* Texto */
    cursor: url('../Images/Cursor.png'), pointer;
}

.icon {
    display: none; /* Ocultado por defecto */
    color: white;
    font-size: 24px;
    cursor: pointer;
    position: sticky;
    right: 20px;
    top: 20px;    
}

/* Encabezado */
header {
    background-color: #705b5bc2; /* Fondo del encabezado */
    color: white; /* Color de texto */
    padding: 2%  0;  /* Espaciado horizontal más equilibrado */
    display: flex;
    align-items: center; /* Asegura que los elementos estén alineados verticalmente */
    justify-content: space-between;
}


header img {
    max-height: 60px; /* Altura máxima del logo */
    margin-right: 20px;
}

/* Menú */
nav ul {
    display: flex; /* Mostrar en fila */
    justify-content: flex-end;
    padding-left: 10px;
}

nav ul li {
    margin: 0 10px; /* Espaciado entre elementos */
    display: inline-block;
    white-space: nowrap;
}

nav ul li a {
    font-size: 1.2rem;
    text-transform: uppercase;
    padding-right: 2%;
    color: whitesmoke; /* Color de los enlaces */
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    font-weight: 800;
}

/* Submenú */
nav ul li ul {
    display: none;
    position: absolute;
    background-color: #705b5bc2;
    padding: 10px;
}

nav ul li:hover ul {
    display: block; /* Muestra el submenú al hacer hover */
}

nav ul li ul li {
    display: block;
    margin: 10px 0;
}

/* Imagen principal */
#Img {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    margin: 20px 0;
}

#Img img {
    width: 80%; /* Ajustar ancho */
    height: auto; /* Mantener proporciones */
    max-width: 1000px; /* Limitar ancho máximo */
    border-radius: 10px; /* Esquinas redondeadas */
}

/* Artículo */
.article {
    display: flex; /* Usar Flexbox */
    max-width: 800px;
    margin: 20px auto; /* Centrar el artículo */
    padding: 20px;
    background-color: white; /* Fondo */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.article > div {
    flex: 1; /* Flex para ocupar espacio igual */
    margin: 10px;
}

#titulo_article {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

#texto_article {
    line-height: 1.6; /* Mejorar legibilidad */
}

/* Imagen dentro del artículo */
#Img_Principal {
    width: 100%;
    height: auto; /* Mantener proporciones */
    border-radius: 10px; /* Esquinas redondeadas */
}

/* Footer */
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
}

footer img {
    max-width: 3rem;
    width: 100px;
    height: auto;
}

/* Media Queries */
@media (max-width: 768px) {
    .icon {
        display: block; /* Mostrar icono hamburguesa */
    }

    nav ul {
        display: none; /* Ocultar menú por defecto */
        flex-direction: column; /* Columna para menú móvil */
        position: absolute; /* Posicionar en el header */
        background-color: #333; /* Fondo del menú móvil */
        top: 70px;
        right: 0;
        width: 100%;
    }

    nav ul li {
        margin: 0;
        padding: 10px;
        text-align: center; /* Centrar texto en menú móvil */
    }

    nav ul li a {
        font-size: 1.5rem; /* Aumentar tamaño en móvil */
    }

    nav ul.responsive {
        display: block; /* Mostrar menú en móvil al hacer clic */
    }
}

main.analisis{
    display: flex;
    justify-content: space-around; 
    margin-top: 2em;
}

.texto_analisis, .video{
    width: 45%;
}

.video iframe{
    width: 100%;
    height: auto;
}

/* Encabezado */
.Encabezado {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

.spike-container {
    display: flex; /* Usar flexbox para alinear elementos */
    align-items: center; /* Alinear verticalmente al centro */
    background-color: #fff; /* Color de fondo */
    padding: 20px; /* Espaciado interno */
    border-radius: 0.5rem; /* Bordes redondeados */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Sombra */
    margin: 20px; /* Margen alrededor del cuadro */
}

.spike-image {
    max-width: 450px; /* Ajustar el tamaño según sea necesario */
    margin-right: 30px; /* Espacio entre imagen y descripción */
    height: auto;
}

.spike-description {
    flex-grow: 1; /* Hacer que ocupe el espacio restante */
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    gap: 20px; /* Espacio entre las cartas */
}

.card {
    max-width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
    margin: 20px;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-2%); /* Ajuste más sutil */
}

.card img {
    width: 100%;
    height: auto;
}

.card .card-content {
    padding: 16px;
    text-align: center;
}

.card .card-content p {
    color: #666;
    font-size: 15px;
    line-height: 1.5;
}

.card .card-content h3 {
    font-size: 28px;
    margin-bottom: 15px;
}

.card .card-content a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
}

.card .card-content a:hover {
    background: #2fb4cc;
    color: #fff;
}

/*.card-content .btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #fff;
}*/

.album-container{
    display: flex;
    align-items: center;
}

.album-cover{
    width: 350px;
    height: auto;
    margin-right: 20px;
}

.tracklist{
    list-style: none;
    padding: 0;
}

.tracklist li{
    margin-bottom: 10px;
}

.player-controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.progress-bar{
    width: 70%;
    margin: 0 20px;
}

.rotating-logo{
    width: 100px;
    animation: spin 4s linear infinite;
}

@keyframes spin{
    from{ transform: rotate(0deg);}
    to{ transform: rotate(360deg);}
}